
{% extends 'base.html' %}

{% block content %}
<h1>room detail </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">building</th>
            <th scope="col">room name</th>       
            <th scope="col">area</th>
            <th scope="col">floors</th>
            <th scope="col">created at</th>
            <th scope="col">delete</th>
            <th scope="col">edit</th>      
    
    
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{room.id}}</th>
            <td>{{room.building}}</td>
            <td>{{room.room_name}}</td>
            <td>{{room.area}}</td>
            <td>{{room.capacity}}</td>
            <td>{{room.created_at}}</td>
            <td><a href="{% url 'room_delete'  room.building.id room.id %}" class="btn btn-danger">delete</a></td>
            <td><a href="{% url 'room_update'  room.building.id  room.id %}" class="btn btn-warning">edit</a> </td>     
          </tr>
             </tbody>
  </table>
  {% endblock content %}