
{% extends 'base.html' %}

{% block content %}
<h1>room list</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">building</th>
        <th scope="col">room name</th>       
        <th scope="col">area</th>
        <th scope="col">capacity</th>
        <th scope="col">created at</th>
        <th scope="col">delete</th>
        <th scope="col">edit</th>        
        <th scope="col">show</th> 



      </tr>
    </thead>
    <tbody>
           {%for room in objects%}
      <tr>
        <th scope="row">{{room.id}}</th>
        <td>{{room.building}}</td>
        <td>{{room.room_name}}</td>
        <td>{{room.area}}</td>
        <td>{{room.capacity}}</td>
        <td>{{room.created_at}}</td>
        <td><a href="{% url 'room_delete'  room.building.id room.id %}" class="btn btn-danger">delete</a></td>
        <td><a href="{% url 'room_update'  room.building.id  room.id %}" class="btn btn-warning">edit</a> </td>
        <td><a href="{% url 'room_detail'  room.building.id room.id %}" class="btn btn-success">show</a> </td>  
      </tr>
      {% endfor %}

         </tbody>
  </table>
  {% endblock content %}